apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification-service
        image: notification-service:latest
        imagePullPolicy: Never
        resources:
          requests:
            memory: "180Mi"
            cpu: "100m"
          limits:
            memory: "300Mi"
            cpu: "300m"
        env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-service:9092"