name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # FIX: 'cache: maven' line hata di gayi hai
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Smart Recruit
      run: |
        cd smart-recruit
        mvn clean package -DskipTests
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/smart-recruit:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/smart-recruit:latest

    - name: Build & Push Notification App
      run: |
        cd notification-service
        mvn clean package -DskipTests
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/notification-service:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/notification-service:latest